<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1> Vue JS User Task </h1>
    </header>
    <section id="task">
      <h2> LIST OF USER TASKS </h2>
      <!-- 1) Add code to manage a list of tasks in a Vue app -->
      <!-- When clicking "Ad
        d Task" a new task  with the entered text should be added -->
      <input type="text" v-model="enteredtaskValue"/>
      <button @click="add_task">Add Task</button>
        <p v-if= "task.length===0"><b>No task has been added. Please add one!</b></p>
      <ul v-else v-show ="btntoggle === false"> 
        <li v-for="task in task">{{task}}</li>
        
        <!-- 2) Output the list of tasks here -->
      </ul>
      <!-- 3) When the below button is pressed, the list should be shown or hidden -->
      <!-- BONUS: Also update the button caption -->
    <br>
      <button @click="btn_toggle">{{toggler}}</button>
    </section>
  </body>
</html>
